<h1>Умения</h1>

<% if @skill.nil? %>
    <b>В базе нет ни одного умения.</b>
<% else %>
    <table>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th></th>
      </tr>
      <% @skill.each do |i| %>

          <tr>
            <td><%= i.id %></td>
            <td><%= link_to i.name, skill_path(i) %></td>
            <td><%= link_to "Удалить", i, method: :delete, data: {confirm: "Удалить?"} %></td>
          </tr>

      <% end %>
    </table>
<% end %>